h1 {
  font-size: 75px;
  text-align: center;
  color: whitesmoke;
  background: black;
  padding: 20px;
}
li {
  list-style-type: none;
  padding: 10px;
}
.form-control {
  text-align: center;
}
.search-body {
  float: right;
}
.ml-4 {
  width: 200px;
}
#five-days {
  margin-left: 50px;
  margin-top: 20px;
}
.row2 {
  text-align: center;
}
@media (min-width: 1200px) {
  #search-body {
    margin-right: 0;

    padding-right: 15px;
  }
  .form-inline {
    margin-right: 0;
    padding-right: 0;
  }
}

/* @media (min-width: 1800px) {
  #main-body {
    margin-right: 200px;
  }
  #search-body {
    margin-right: 0;
    padding-right: 15px;
  }
  .form-inline {
    margin-right: 0;
    padding-right: 0;
  }
} */
.noRisk {
  color: white;
  background: green;
}
.littleRisk {
  color: white;
  background: yellow;
}
.highRisk {
  color: white;
  background: orange;
}

.veryHighRisk {
  color: white;
  background: red;
}

.extremeRisk {
  color: white;
  background: purple;
}

li.list-group-item {
  cursor: pointer;
}
